<%= form_with(model: cliente) do |form| %>
  <% if cliente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cliente.errors.count, "error") %> este cliente não pode ser salvo por:</h2>

      <ul>
        <% cliente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row"></div>
    <div class="col-9 div-formulario p-3 bg-light shadow">
      <p class="lead">Nos conte um pouco mais sobre você :</p>
         <form class="row g-3">
            <div class="col-md-6 p-2">
                <label for="nome" class="form-label"></label>
                <%= form.label :nome, { class: "form-label"} %>
                <%= form.text_field :nome, { class: "form-control", placeholder: "Seu nome" } %>
            </div>

            <div class="col-md-6 p-2">
                <label for="email" class="form-label"></label>
                <%= form.label :email, { class: "form-label"} %>
                <%= form.text_field :email, { class: "form-control", placeholder: "usuario@gmail.com" } %>
            </div>

            <div class="col-md-6 p-2">
                <label for="bairro" class="form-label"></label>
                <%= form.label :bairro, { class: "form-label"} %>
                <%= form.text_field :bairro, { class: "form-control", placeholder: "" } %>
            </div>

            <div class="col-md-6 p-2">
                <label for="rua" class="form-label"></label>
                <%= form.label :rua, { class: "form-label"} %>
                <%= form.text_field :rua, { class: "form-control", placeholder: "Av.dos Ipês 123" } %>
            </div>

             <div class="col-md-6 p-2">
                <label for="veterinario" class="form-label"></label>
                <%= form.label :veterinario_id, { class: "form-label"} %>
                <%= form.collection_select(:veterinario_id, Veterinario.order(:nome), :id, :nome,{}, { class: "form-select" } )%>
            </div>

            <div  class="col-md-6 p-2" style="display: none">
              <label for="pet" class="form-label"></label>
              <%= form.label :pet_id, style: "display: block" %>
              <% pi = Pet.all.ids.last%> 
              <% pn = Pet.all.last.nome %> 
              <%= form.select :pet_id, [[pn,pi]] %>
            
            </div>


            <div class="col-12 p-2">
              <button type="submit" class="btn btn-primary">Cadastrar</button>
            </div>
            </form>
          </div>
        

          </div>

          </div><!--row -->

  
<% end %>
