<%= form_with(model: cliente) do |form| %>
  <% if cliente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
        <% cliente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.time_zone_select :time_zone %>
   
  
  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :bairro, style: "display: block" %>
    <%= form.text_field :bairro %>
  </div>

  <div>
    <%= form.label :rua, style: "display: block" %>
    <%= form.text_field :rua %>
  </div>

  <div>
    <%= form.label :veterinario_id, style: "display: block" %>
    <%= form.collection_select :veterinario_id, Veterinario.order(:nome), :id, :nome %> 
  </div>
  
  <div>
    <%= form.label :pet_id, style: "display: block" %>
    <% pi = Pet.all.ids.last%> 
    <%= form.select :pet_id, [pi] %>
    
  </div>

 <div>
    <%= form.submit %>
  </div>
<% end %>
