<p style="color: green"><%= notice %></p>

<%= render @veterinario %>

<div>
  <%= link_to "Edit this veterinario", edit_veterinario_path(@veterinario) ,class: "btn btn-info "%> |
  <%= link_to "Back to veterinarios", veterinarios_path ,class: "btn btn-info "%>

  <%= button_to "Destroy this veterinario", @veterinario, method: :delete ,class: "btn btn-danger "%>
</div>
