
<nav class="navbar navbar-dark justify-content-end"style="background-color:#BF2626">
  <!-- Navbar content -->
      <ul >
         <%=link_to "Cadrastrar novo usuário" , new_user_registration_path %>
          <%= link_to "Logar" , new_user_session_path %>
          <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
      </ul>


</nav>
<body>


<h2>Bem vindo ao PetShop Ruby <a href="https://www.ruby-lang.org" emoji-code="Ruby"><img class="emojidex-emoji" src="https://cdn.emojidex.com/emoji/seal/Ruby.png" emoji-code="Ruby" alt="Ruby" width=30px/></a></h2>

<%= link_to "Clientes 🧑",clientes_path %>
<%= link_to "Veterinarios",veterinarios_path %>





</div>
</body>
