
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    Exportar Clientes
  </button>

  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
    <li><%= button_to "Csv", clientes_path(format: "csv"),
  class: "dropdown-item btn btn-export", method: :get %></li>
     <li ><a class= "dropdown-item btn btn-export" href="/clientes.pdf">PDF</a></li>

  </ul>
</div>

<h1> Bem vindo </h1>
<%= form_with url: search_path, method: :get do %>
  <%= label_tag :q, 'Busca:' %>
  <%= text_field_tag :q %>
  <%= submit_tag 'Pesquisar' %>
<% end %>

